@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

body {
    font: 300 16px/1.5 'Lato', Arial, sans-serif;
    color: #3c3c3c;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
    letter-spacing: .16em;
    line-height: 1.3;
    text-transform: uppercase;
}

p {
    margin: 0 0 25px;
}
.container {
    max-width: 940px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}
.container--hero {
    max-width: 640px;
}
.header {
    background: #aeb8cd url("img/hero-bg.jpg") 50% no-repeat;
    background-size: cover;
    color: white;
    padding: 284px 0 384px;
    text-align: center;
    min-height: 100vh;
    font-size: 15px;
    letter-spacing: .06em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2;
    position: relative;
}
.logo {
    display: inline-block;
    margin-bottom: 80px;
}
.header__title {
    text-transform: uppercase;
    font-size: 54px;
    margin: 0 0 35px;
}
.scroll {
    display: inline-block;
    width: 23px;
    height: 37px;
    position: absolute;
    bottom: 115px;
    left: 50%;
    margin-left: -12px;
    background: url("img/scroll.svg") 50% no-repeat;
    background-size:cover;
}
.scroll:hover {
    opacity: .5;
}
.about {
    padding: 160px 0;
}
.box {
    border: solid #3c3c3c;
    border-width: 0 2px 2px;
    padding: 70px 180px 26px;
    text-align: center;
    position: relative;
}
.box:before,
.box:after {
    display: block;
    content: '';
    position: absolute;
    height: 2px;
    background: #3c3c3c;
    width: 22%;
    top: 0;
}
.box:before {
    left: 0;
}
.box:after {
    right: 0;
}
.box :last-child {
    margin-bottom: 0;
}

.box-light {
    border-color: #ffffff;
}
.box-light:before, .box-light:after {
    background: #ffffff;
}
.box__title{
    font-size: 34px;
    position: absolute;
    left: 24%;
    top: 0;
    margin: 0;
    text-align: center;
    width: 52%;
    transform: translateY(-50%);
}
.section {
    padding: 130px 0 110px;
}
.section--services {
    color: #ffffff;
    background: #aeb8cd url("img/services.jpg") 50% no-repeat;
    background-size: cover;
}
.box--services{
    padding: 0 180px 90px;
}
.box--services p {
    margin-bottom: 0;
    font-size: 14px;
}
.box__icons {
    margin-top: 125px;
}
.box__subtitle {
    font-size: 20px;
    margin: 30px 0;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 484px;
    align-items: flex-end;
}
.column {
    width: 33%;
    height: 238px;
    position: relative;
}

.column--1 {
    background: #aeb8cd url("img/Topworkz.png") 50% no-repeat;
    background-size: cover;
}
.column--2 {
    background: #aeb8cd url("img/Joint.png") 50% no-repeat;
    background-size: cover;
}
.column--3 {
    background: #aeb8cd url("img/Market.png") 50% no-repeat;
    background-size: cover;
}
.column--4 {
    background: #aeb8cd url("img/Worktop.png") 50% no-repeat;
    background-size: cover;
}
.column--5 {
    background: #aeb8cd url("img/Label.png") 50% no-repeat;
    background-size: cover;
}
.column--6 {
    background: #aeb8cd url("img/Kyiv.png") 50% no-repeat;
    background-size: cover;
}

h4 {
    position: absolute;
    margin: 0;
    bottom: 42px;
    left: 42px;
    color: #ffffff;
    font-size: 34px;
}
h4:hover {
    color: #3c3c3c;
}

.box__title--small {
    font-size: 30px;
}

.btn-contact {
    color: #ffffff;
    text-transform: uppercase;
    background: #3c3c3c;
    outline: none;
    font-weight: 300;
    padding: 16px 134px;
    border: 2px solid #3c3c3c;
    border-radius: 4px;
    margin-top: 3%;
}
.btn-contact:active {
    color: #000;
    background: #fff;
    border: 2px solid #3c3c3c;
}

.section-contact {
    padding-bottom: 0;
}

.footer {
    text-align: center;
    padding: 63px 0;
}

.footer-logo {
    vertical-align: middle;
    margin-right: 36px;

}

span {
    font-size: 14px;
    vertical-align: middle;
}